.title {
	display: none;
}
header {
	margin: 60px 0 30px 0;
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			display: block;
			width: 100%;
			text-align: center;
			img {
				max-width: 200px;
			}
		}
	}
}
header.default {
	margin: 20px 0 30px 0;
	.logo {
		a {
			img {
				max-width: 80px;
			}
		}
	}
}
.initial-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	button, a {
		margin-bottom: 10px;
		font-size: 26px;
		font-weight: 700;
	}
}