.pane {
	width: 100%;
	background-color: #70b31d;
	background-position: center center;
	background-repeat: repeat;
	background-image: url(/img/background.jpg);
}

.center-content {
	text-align: center;
}