<ion-view hide-nav-bar="true">
    <ion-content>
	    <header>
			<div class="row">
				<div class="col col-center logo">
					<a href="#" title="home"><img src="/img/cl_logo.png"></a>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="col col-center initial-container">
			    <button ng-click="createGame()" class="button button-outline button-light">Create Game</button>
		        <a ui-sref="join" class="button button-outline button-light">Join Game</a>
				<div class="opener-text">
					<p>Das trashige Fußball-Quiz für Fans, Mitläufer und Besserwisser.</p>
					<p>Zocke mit deinen Freunden während eines Fußballspiels.</p>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>
