<ion-view hide-nav-bar="true">
    <ion-content class="padding">
        <header class="default">
            <div class="question-sign">
                <img ng-show="question.team == 'Borussia Dortmund'" src="/img/bvb_logo.png">
                <img ng-show="question.team == 'FC Bayern München'" src="/img/fcb_logo.png">
            </div>
            <div class="row">
                <div class="col col-center logo">
                    <a href="#" title="home"><img src="/img/sofa.png"></a>
                </div>
            </div>
        </header>
        <div class="row question center-content" ng-show="question">
            <div class="col col-center">
                <div class="count">{{ number }} / 3</div>
                <h2>{{ question.question }}</h2>
                <countdown timer="timer" radius="15" stroke="5"></countdown>
                <img ng-click="answer(true)" src="/img/yes.png">
                <img ng-click="answer(false)" src="/img/no.png">
            </div>
        </div>
    </ion-content>
</ion-view>