<ion-view hide-nav-bar="true">
    <ion-content class="padding">
	    <header class="default">
			<div class="row">
				<div class="col col-center logo">
					<a href="#" title="home"><img src="/img/sofa.png"></a>
				</div>
			</div>
		</header>
		<div class="row question" ng-show="question">
			<div class="col col-center">
			    <h2>{{ question.text }}</h2>
			    <img ng-click="answer(true)" src="/img/yes.png">
			    <img ng-click="answer(false)" src="/img/no.png">
			</div>
		</div>
    </ion-content>
</ion-view>