<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Info</h1>
        <button class="button" ng-click="closeModal()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Choose your username</span>
                <input type="text" placeholder="Username" ng-model="user.username">
            </label>
        </div>
        <div class="teams" ng-show="isCreate">
            <img src="./img/bvb_logo.png">
            <span>VS</span>
            <img src="./img/fcb_logo.png">
        </div>
        <button class="button button-outline" ng-click="done()">Submit</button>
    </ion-content>
</ion-modal-view>